<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="scene">

  <!-- ========================= -->
  <!--  ARGOMENTI UR             -->
  <!-- ========================= -->
  <xacro:arg name="ur_type" default="ur10"/>
  <xacro:arg name="name" default="ur10"/>
  <xacro:arg name="tf_prefix" default=""/>

  <!-- Pose ROBOT (mettilo sul tavolo o dove vuoi) -->
  <xacro:arg name="robot_x" default="0.0"/>
  <xacro:arg name="robot_y" default="0.0"/>
  <xacro:arg name="robot_z" default="0.775"/>
  <xacro:arg name="robot_roll"  default="0.0"/>
  <xacro:arg name="robot_pitch" default="0.0"/>
  <xacro:arg name="robot_yaw"   default="0.0"/>

  <!-- ========================= -->
  <!--  POSE TAVOLO              -->
  <!-- ========================= -->
  <xacro:arg name="table_x" default="0.0"/>
  <xacro:arg name="table_y" default="0.0"/>
  <xacro:arg name="table_z" default="0.75"/>
  <xacro:arg name="table_roll"  default="0.0"/>
  <xacro:arg name="table_pitch" default="0.0"/>
  <xacro:arg name="table_yaw"   default="0.0"/>

  <!-- ========================= -->
  <!--  INCLUDE UR MACRO         -->
  <!-- ========================= -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <!-- ========================= -->
  <!--  INCLUDE TAVOLO           -->
  <!--  (il tuo file crea table_sup + gambe) -->
  <!-- ========================= -->
  <xacro:include filename="$(find table_description)/urdf/table_desc.xacro"/>

  <!-- ========================= -->
  <!--  WORLD                    -->
  <!-- ========================= -->
  <link name="world"/>

  <!-- ========================= -->
  <!--  ATTACCA IL TAVOLO A WORLD -->
  <!-- ========================= -->
  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table_sup"/>
    <origin xyz="$(arg table_x) $(arg table_y) $(arg table_z)"
            rpy="$(arg table_roll) $(arg table_pitch) $(arg table_yaw)"/>
  </joint>

  <!-- ========================= -->
  <!--  ISTANZIA UR (ur_robot)   -->
  <!-- ========================= -->
  <xacro:ur_robot
      name="$(arg name)"
      tf_prefix="$(arg tf_prefix)"
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml">

    <origin xyz="$(arg robot_x) $(arg robot_y) $(arg robot_z)"
            rpy="$(arg robot_roll) $(arg robot_pitch) $(arg robot_yaw)"/>
  </xacro:ur_robot>

</robot>