<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ===================================================== -->
  <!--  BUSBAR 1 + 2 M6 screws                               -->
  <!-- ===================================================== -->

  <xacro:macro name="busbar_1_with_screws"
               params="name parent xyz rpy material_busbar:=orange material_screw:=dark_orange">

    <!-- ================= BUSBAR ================= -->
    <link name="${name}">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/busbar_1_fix.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="${material_busbar}"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/busbar_1_fix.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>


    <!-- ================= SCREW - ================= -->
    <link name="${name}_screw_neg">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m6_1_0x20mm_t30_torx_busbar_rs.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="${material_screw}"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m6_1_0x20mm_t30_torx_busbar_rs.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="${name}_screw_neg_joint" type="fixed">
      <parent link="${name}"/>
      <child link="${name}_screw_neg"/>
      <origin xyz="0 -0.052 0.0015" rpy="0 0 0"/>
    </joint>


    <!-- ================= SCREW + ================= -->
    <link name="${name}_screw_pos">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m6_1_0x20mm_t30_torx_busbar_rs.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="${material_screw}"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m6_1_0x20mm_t30_torx_busbar_rs.stl"
                scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="${name}_screw_pos_joint" type="fixed">
      <parent link="${name}"/>
      <child link="${name}_screw_pos"/>
      <origin xyz="0 0.052 0.0015" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>