<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="id4_batterypack">

  <!-- ======================= -->
  <!-- Materials -->
  <!-- ======================= -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <material name="light_gray">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>

  <!-- ======================= -->
  <!-- Base links -->
  <!-- ======================= -->
  <link name="world"/>

  <link name="chassis">
    <visual>
      <geometry>
        <mesh filename="package://id4_batterypack_description/meshes/battery_pack.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://id4_batterypack_description/meshes/battery_pack.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="world_to_chassis" type="fixed">
    <parent link="world"/>
    <child link="chassis"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

    <link name="chassis_to_bms">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/bms.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="light_gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/bms.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="chassis_to_bms" type="fixed">
      <parent link="world"/>
      <child link="chassis_to_bms"/>
      <origin xyz="-0.002 0.4 0.1" rpy="0 0 0"/>
    </joint>

  <!-- ======================= -->
  <!-- Module macros (DX / SX) -->
  <!-- ======================= -->
  <xacro:macro name="module_dx" params="idx y_offset">
    <link name="module_dx_${idx}">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/module.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="light_gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/module.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="chassis_to_module_dx_${idx}" type="fixed">
      <parent link="chassis"/>
      <child link="module_dx_${idx}"/>
      <origin xyz="0.0229 ${y_offset} 0.0015" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="module_sx" params="idx y_offset">
    <link name="module_sx_${idx}">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/module.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="light_gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/module.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="chassis_to_module_sx_${idx}" type="fixed">
      <parent link="chassis"/>
      <child link="module_sx_${idx}"/>
      <origin xyz="-0.0229 ${y_offset} 0.0015" rpy="0 0 ${pi}"/>
    </joint>
  </xacro:macro>

  <!-- ======================= -->
  <!-- Screw macros (DX / SX) -->
  <!-- ======================= -->
  <xacro:macro name="module_screw_sx" params="midx sidx x_offset y_offset">
    <link name="module_screw_sx_${midx}_${sidx}">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m8x72_xzn_m10.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="light_gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m8x72_xzn_m10.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="module_sx_${midx}_to_screw_${sidx}" type="fixed">
      <parent link="module_sx_${midx}"/>
      <child link="module_screw_sx_${midx}_${sidx}"/>
      <origin xyz="${x_offset} ${y_offset} 0.071" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="module_screw_dx" params="midx sidx x_offset y_offset">
    <link name="module_screw_dx_${midx}_${sidx}">
      <visual>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m8x72_xzn_m10.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="light_gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://id4_batterypack_description/meshes/m8x72_xzn_m10.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="module_dx_${midx}_to_screw_${sidx}" type="fixed">
      <parent link="module_dx_${midx}"/>
      <child link="module_screw_dx_${midx}_${sidx}"/>
      <origin xyz="${x_offset} ${y_offset} 0.071" rpy="0 0 0"/>
    </joint>
  </xacro:macro>


  <!-- Loop ricorsivo per 4 viti (SX) -->
  <xacro:macro name="spawn_screws_sx" params="midx sidx:=1 xs:=^ ys:=^">
    <xacro:if value="${xs}">
      <xacro:property name="x" value="${xs.pop(0)}"/>
      <xacro:property name="y" value="${ys.pop(0)}"/>

      <xacro:module_screw_sx midx="${midx}" sidx="${sidx}" x_offset="${x}" y_offset="${y}"/>

      <xacro:spawn_screws_sx midx="${midx}" sidx="${sidx+1}" xs="${xs}" ys="${ys}"/>
    </xacro:if>
  </xacro:macro>

  <!-- Loop ricorsivo per 4 viti (DX) -->
  <xacro:macro name="spawn_screws_dx" params="midx sidx:=1 xs:=^ ys:=^">
    <xacro:if value="${xs}">
      <xacro:property name="x" value="${xs.pop(0)}"/>
      <xacro:property name="y" value="${ys.pop(0)}"/>

      <xacro:module_screw_dx midx="${midx}" sidx="${sidx}" x_offset="${x}" y_offset="${y}"/>

      <xacro:spawn_screws_dx midx="${midx}" sidx="${sidx+1}" xs="${xs}" ys="${ys}"/>
    </xacro:if>
  </xacro:macro>

  <!-- ======================= -->
  <!-- Offsets lists -->
  <!-- ======================= -->
  <xacro:property name="y_dx_list"
                  value="${[
                    0.2285,
                    0.2285 + 0.249,
                    0.2285 + 2*0.249,
                    0.2285 + 2*0.249 + 0.269,
                    0.2285 + 2*0.249 + 0.269 + 0.249,
                    0.2285 + 2*0.249 + 0.269 + 2*0.249
                  ]}"/>

  <xacro:property name="y_sx_list"
                  value="${[
                    0.4525,
                    0.4525 + 0.249,
                    0.4525 + 2*0.249,
                    0.4525 + 2*0.249 + 0.269,
                    0.4525 + 2*0.249 + 0.269 + 0.249,
                    0.4525 + 2*0.249 + 0.269 + 2*0.249
                  ]}"/>

  <!-- Pattern viti (4): same for DX and SX -->
  <xacro:property name="screw_xs"
                  value="${[
                    0.0115,
                    0.0115,
                    0.0115 + 0.565,
                    0.0115 + 0.565
                  ]}"/>
  <xacro:property name="screw_ys"
                  value="${[
                    0.011,
                    0.011 + 0.202,
                    0.011,
                    0.011 + 0.202
                  ]}"/>

  <!-- ======================= -->
  <!-- Spawn modules DX + screws (loop ricorsivo) -->
  <!-- ======================= -->
  <xacro:macro name="spawn_modules_dx_with_screws" params="idx:=1 y_list:=^">
    <xacro:if value="${y_list}">
      <xacro:property name="y" value="${y_list.pop(0)}"/>

      <!-- modulo dx -->
      <xacro:module_dx idx="${idx}" y_offset="${y}"/>

      <!-- 4 viti sul modulo dx idx -->
      <xacro:spawn_screws_dx midx="${idx}" xs="${list(screw_xs)}" ys="${list(screw_ys)}"/>

      <!-- ricorsione -->
      <xacro:spawn_modules_dx_with_screws idx="${idx+1}" y_list="${y_list}"/>
    </xacro:if>
  </xacro:macro>

  <!-- ======================= -->
  <!-- Spawn modules SX + screws (loop ricorsivo) -->
  <!-- ======================= -->
  <xacro:macro name="spawn_modules_sx_with_screws" params="idx:=1 y_list:=^">
    <xacro:if value="${y_list}">
      <xacro:property name="y" value="${y_list.pop(0)}"/>

      <!-- modulo sx -->
      <xacro:module_sx idx="${idx}" y_offset="${y}"/>

      <!-- 4 viti sul modulo sx idx -->
      <xacro:spawn_screws_sx midx="${idx}" xs="${list(screw_xs)}" ys="${list(screw_ys)}"/>

      <!-- ricorsione -->
      <xacro:spawn_modules_sx_with_screws idx="${idx+1}" y_list="${y_list}"/>
    </xacro:if>
  </xacro:macro>

  <!-- ======================= -->
  <!-- Instantiate -->
  <!-- ======================= -->
  <xacro:spawn_modules_dx_with_screws y_list="${list(y_dx_list)}"/>
  <xacro:spawn_modules_sx_with_screws y_list="${list(y_sx_list)}"/>

 

</robot>